In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("data/SPY.csv")

In [11]:
def simple_moving_average(df, time_period):
    label = f"SMA_{time_period}"
    df[label] = df["Close"].rolling(window=time_period).mean()
    return df

In [12]:
data.tail(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
7980,2024-10-09 00:00:00-04:00,573.159973,577.710022,572.549988,577.140015,37912200,0.0,0.0,0.0
7981,2024-10-10 00:00:00-04:00,575.770020,577.580017,574.489990,576.130005,44138100,0.0,0.0,0.0
7982,2024-10-11 00:00:00-04:00,576.049988,580.330017,575.909973,579.580017,42226800,0.0,0.0,0.0

In [13]:
data = simple_moving_average(data, 20)
data.tail(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,SMA_20
7980,2024-10-09 00:00:00-04:00,573.159973,577.710022,572.549988,577.140015,37912200,0.0,0.0,0.0,568.111807
7981,2024-10-10 00:00:00-04:00,575.770020,577.580017,574.489990,576.130005,44138100,0.0,0.0,0.0,569.049289
7982,2024-10-11 00:00:00-04:00,576.049988,580.330017,575.909973,579.580017,42226800,0.0,0.0,0.0,570.013718